.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.speed_img{
    width: 200px;
    border-radius: 100px;
}

.div_speed{
    float: left;
}

#speed{
    font-size: 23px;
    margin: 15px;
}

.volume_img{
    width: 200px;
    border-radius: 100px;
}

.div_volume{
    float: right;
}

#volume{
    font-size: 23px;
    margin: 15px;
}

.play_btn{
    font-size: 25px;
    width: 130px;
}

canvas{
border: 5px solid white;
border-radius: 20px;
}